{% extends "base.html" %}

{% block main %}
<h1>About</h1>
<p> The user enters information, then the system calculates the final value of the property based on the inputs and specific factors. <br>
</p>

<h2> Features</h2>
<li>
    Makes use of the Google Maps API to fetch live data
</li>
<li>
    Makes use of historical data to give our results some reliability

</li>

<li>
    System performs its calculations and outputs a report in under 20 seconds

</li>

<br>
<img src="/static/pictures/capstoneScreenshot1.jpg">
<br>
<br>
<img src="/static/pictures/capstoneScreenshot2.jpg">











{% endblock %}