{% extends "base.html" %}

{% block main %}
<h1>Property Appraisal System </h1>
<p class="lead">This system was built, so users can find the value of their property in a fast and efficient way. <br>
<br>
This program aims to benefit people who would like to request appraisals for their property in Jamaica, but would like to see what the factors affecting their final property value are, 
as well as the impact of each of those factors on the price of the property.</p>

<hr>

<h2>Why did we do it?</h2>
<p> Usually property owners are left in the dark, as to what evaluators used in determining the price of their property. <br>
We wanted to add some transparency by showing the factors considered when apprasing a property as well as the price effect that each factor has on the price of the property.</p>
<br>

<h2>How it works</h2>

<p> The property owner will enter information about the property such as: </p> 
<li>
    The address of the property (Street Name, Street Number, District/Community, Parish).
</li>
<li>
    Size of the property (and size of the structure if a structure is on the property).
</li>
<li>
   The purpose of the property (whether it is being appraised for Residential, Commercial, Farming use etc.). 
</li>
<li>
    Accomodation (Number of Bedrooms).
</li>

<br>

<p> Once this information is gathered, caluclations are done using this information as well as considering various factors such as: </p>

<li>Traffic Flows in the area</li>
<li>Noise</li>
<li>Distance from Key Locations (like Schools, Supermarkets, Hospitals etc.)</li>
<li>Land Safety (based on topography and likeliness of land slides)</li>
<li>Accomodation</li>

<br>

<h2> Features</h2>

<li>
    System performs its calculations and outputs a report in under 20 seconds
</li>
<li>
    Each factor considered, shows its influence on the final price of the property
</li>

<br>
<img src="/static/pictures/capstoneScreenshot1.jpg">
<br>
<br>
<img src="/static/pictures/capstoneScreenshot2.jpg">



{% endblock %}